body{
    background: rgba(236,239,241 ,1);
    color: rgba(69,90,100 ,1);
    font-size:62.5%;
}
md-content{
    background: rgba(236,239,241 ,1);
}
$c_gray: rgba(39,40,34,1);
$c_pink: rgba(249,38,114,1);
$c_green: rgba(166,226,46,1);
$c_blue: rgba(102,217,239,1);
$c_orange: rgba(253,151,31,1);
$f_serif: "Roboto Slab", "Times New Roman", serif;
$f_sans: Roboto, Helvetica, Arial, sans-serif;

section{
    font-size:16px;
    text-align:center;
    color:lighten(rgba(66,66,66 ,1), 20%);
    font-family: $f_sans;
}

pink, .pink{
    color: $c_pink;
}

green, .green{
    color: $c_green;
}

blue, .blue{
    color: $c_blue;
}
orange, .orange{
    color: $c_orange;
}
a{
    &:hover{
        font-style:italic;
    }
}


md-card img{
    width:100%;
}





h1{
    font-family: $f_sans;
    font-weight:300;
    font-size:44px;
}
h2{
    font-size:1.8rem;
    font-weight:300;
    text-transform: uppercase;
}
#name{
    
    color: rgba(66,66,66 ,1);
    margin-bottom:0;
    text-transform: uppercase;
    span{
        font-weight:700;
    }
}
#subtitle{
    font-family:$f_sans;
    font-weight:300;
    font-size:17px;
    margin-top:0;
    letter-spacing:0.8px;
    width:306px;
}

#intro{
    article{
        line-height:1.4;
    }
}
#toolbar{
    margin-top:20px;
    margin-bottom:40px;
    .md-button{
        min-width:46px;
        min-height:46px;
        border-radius:50%;
    }
    .md-ripple-container{
        border-radius:50%;
    }
    .fa{
        font-size:20px;
        color: lighten($c_pink,5%);
        line-height:46px;
    }
    .fa-github{
        font-size:24px;
    }
}
#featured{
    font-family: $f_sans;
    md-card{
        max-width:360px;
    }

    h3{
        font-family:$f_sans;
        margin:0;
        text-align:left;
        font-size:1rem;
    }

    .roles{
        font-size:0.9rem;
        text-align:left;
    }
}
.nav{
    font-family:$f_sans;
    font-weight:400;
}
md-tooltip{
    font-size:12px;
}