body{
    background: rgba(236,239,241 ,1);
    color: rgba(69,90,100 ,1);
    font-size:62.5%;
}
md-content{
    background: rgba(236,239,241 ,1);
}
$c_gray: rgba(39,40,34,1);
$c_pink: rgba(249,38,114,1);
$c_green: rgba(166,226,46,1);
$c_blue: rgba(66,165,245 ,1);
$c_orange: rgba(253,151,31,1);
$f_serif: "Roboto Slab", "Times New Roman", serif;
$f_sans: Roboto, Helvetica, Arial, sans-serif;

$md-whiteframe-4dp: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);

section{
    font-size:16px;
    color:lighten(rgba(66,66,66 ,1), 20%);
    font-family: $f_sans;
}

pink, .pink{
    color: $c_pink;
}

green, .green{
    color: $c_green;
}

blue, .blue{
    color: $c_blue;
}
orange, .orange{
    color: $c_orange;
}



md-card img{
    width:100%;
}


#experience, #education, #skills{
    width:100%;
    md-list{
        width:100%;
        max-width:600px;
    }

    h3{
        font-weight:600;

        data{
            font-weight:400;
            float:right;
            font-size:1rem;
        }
    }

    a{
        text-decoration:none;
        color: $c_blue;
    }
}


h1{
    font-family: $f_sans;
    font-weight:300;
    font-size:44px;
    color: rgba(66,66,66 ,1);
    text-transform: uppercase;
    span{
        font-weight:700;
    }
}
h2{
    text-align:center;
    margin-bottom:10px;
    font-size:1.8rem;
    font-weight:300;
    text-transform: uppercase;
}
#name{
    margin-bottom:0;
    
    
}
#subtitle{
    font-family:$f_sans;
    font-weight:300;
    font-size:17px;
    margin-top:0;
    margin-bottom:10px;
    letter-spacing:0.8px;
    width:306px;
}

#intro{
    article{
        line-height:1.4;
    }
}
#links{
    .md-button{
        min-width:46px;
        min-height:46px;
        border-radius:50%;
    }
    .md-ripple-container{
        border-radius:50%;
    }
    .fa{
        font-size:20px;
        color: rgba(120,144,156 ,1);
        line-height:46px;
    }
    .fa-github{
        font-size:24px;
    }
}
#featured{
    font-family: $f_sans;
    .project{
        outline:none;
        max-width:320px;
        transition: all 0.2s;

        &:hover{
            cursor:pointer;
            box-shadow: $md-whiteframe-4dp;
        }
    }

    @media (max-width: 880px) {
      .project{
        max-width:460px;
    }
    }

    h3{
        font-family:$f_sans;
        margin:0;
        text-align:left;
        font-size:1rem;
    }

    .desc{
        font-size:0.9rem;
        text-align:left;
    }
}
.nav{
    font-family:$f_sans;
    font-weight:400;
}
md-tooltip{
    font-size:12px;
}

footer{
    width:100%;
    margin-bottom:20px;
    font-size:0.8rem;
    text-align:right;
    margin-right:20px;
    opacity:0.6;
}

md-dialog{
    max-width:600px;
    img{
        margin: auto; 
        max-width: 100%;
    }
    h1{
        margin-top:0;
        margin-bottom:10px;
    }
    p{
        font-size:1rem;
    }
    .md-dialog-content{
        padding-bottom:0;
    }
    .close-button{
        position:absolute;
        top:6px;
        right:0;
    }
}