<!DOCTYPE html>
<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">


  <title>Matthew Tsui</title>
</head>
<body ng-app="BlankApp" ng-cloak ng-controller="AppCtrl">
<!--       <ng-include src="'nav.html'" flex></ng-include> 
 -->
  <md-content class="transparent-bg" layout="column" layout-align="start center">
    
    
    <section id="intro">
     

        <h1 id="name"><span>Matthew</span>Tsui</h1>
        <h4 id="subtitle" layout="row" layout-align="space-between center" style=""><span>Developer</span>  <pink>.</pink>  <span>Designer</span>  <pink>.</pink>  <span>Climber</span>  <pink>.</pink>  <span>Gamer</span></h4>
          


        <div id="toolbar" layout="row" layout-align="center center">
          <md-button class="" aria-label="Resume"  href="/Resume.pdf" target="_blank">
            <i class="fa fa-file-text"></i>
            <md-tooltip>
              Resume
            </md-tooltip>
          </md-button>
          <md-button class="" aria-label="Email" ng-click="sendMail()">
            <i class="fa fa-send" style="left:0;"></i>
            <md-tooltip>
              Email
            </md-tooltip>
          </md-button>
          <md-button class="" aria-label="Linkedin" href="//www.linkedin.com/in/mzqtsui" target="_blank">
            <i class="fa fa-linkedin"></i>
            <md-tooltip>
              Linkedin
            </md-tooltip>
          </md-button>
          <md-button class="" aria-label="Github" href="//github.com/mzqtsui" target="_blank">
            <i class="fa fa-github"></i>
            <md-tooltip>
              Github
            </md-tooltip>
          </md-button>
        </div>
    </section>
    <section id="featured">
      <h2>Projects</h2>
      <div flex="80" flex-offset="10" flex-xs="100" flex-offset-xs="0" flex-gt-lg="60" flex-offset-gt-lg="0" class="md-padding" layout="row" layout-align="center center" layout-wrap>
        <md-card flex-gt-sm="33" flex-sm="49" flex-xs="100" ng-repeat="p in projects">
          <img ng-src="{{::p.img}}" class="md-card-image" alt="Material Red">
          <md-card-content layout="column">
            <div>
              <h3>{{::p.name}} <data style="float:right;font-weight:300;">{{::p.date}}</data></h3>
              
            </div>
            <div class="roles">{{::p.roles}}</div>
     <!--      <div flex="50" style="text-align:right;">
            <md-button class="md-icon-button" aria-label="Medium" href="//medium.com/@matt.tsui/recreating-material-wallpapers-in-svg-21f4949d76f2" target="_blank">
              <md-icon md-font-icon="fa-medium" class="fa fa-lg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Codepen" href="//codepen.io/mzqtsui/pen/NrpoNG" target="_blank">
              <md-icon md-font-icon="fa-codepen" class="fa fa-lg"></md-icon>
           </md-button>
          </div> -->
          </md-card-content>
        </md-card>
      </div>
    </section>
    <section id="experience">
      <h2>Work Experience</h2>
      
    </section>

    <section id="education">
      <h2>Education</h2>

    </section>

    
  

    

<!--     <div id="intro" layout="row" layout-align="center center" class="md-padding">
      <code class="intro-typed"></code>
       <md-select ng-model="currentProfile" style="width:140px;">
          <md-option ng-repeat="profile in profiles" value="{{profile}}" ng-click="selectProfile(profile.id)">
            <code>{{profile.name}}</code>
          </md-option>
        </md-select>
    </div>

    <ng-include src="'about.html'" flex></ng-include> -->
  </md-content>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  

  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    var app = angular.module('BlankApp', ['ngMaterial']);


    app.controller('AppCtrl', function($scope,$mdDialog,$window) {
      
      $scope.projects = [
        {
          name: 'Material Red',
          roles: 'Web Developer',
          img: 'img/material_red.jpg',
          date: '2016'
        },
        {
          name: 'Palette Website',
          roles: 'Design, Development, Illustration',
          img: 'img/palette.jpg',
          date: '2015'
        },
        {
          name: 'PaletteApp2',
          roles: 'Software Developer',
          img: 'img/paletteapp2.jpg',
          date: '2015'
        },
        {
          name: 'FastCards',
          roles: 'Android Dev, Icon Design',
          img: 'img/fastcards_logo.jpg',
          date: '2015'
        },
        {
          name: 'Slate',
          roles: 'Game Design, UI',
          img: 'img/slate.jpg',
          date: '2014'
        },
        {
          name: 'Foodspokes',
          roles: 'Web Developer',
          img: 'img/foodspokes.jpg',
          date: '2014'
        }
      ];


      $scope.sendMail = function(){
        $window.open("znvygb:znggurj.md.gfhv@tznvy.pbz?fhowrpg=Jrofvgr - Pbagnpg".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
      }
    });
  </script>

  <!--         <span id="obf"><script>document.getElementById("obf").innerHTML="<n pynff=\"cvax\" uers=\"znvygb:znggurj.md.gfhv@tznvy.pbz?fhowrpg=Jrofvgr - Pbagnpg\" gnetrg=\"_oynax\">znggurj.md.gfhv@tznvy.pbz</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});</script>
<noscript><span style="unicode-bidi:bidi-override;direction:rtl;">moc.liamg@iust.qz.wehttam</span></noscript></span> -->
  
</body>
</html>