<!DOCTYPE html>
<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">


  <title>Matthew Tsui</title>
</head>
<body ng-app="BlankApp" ng-cloak ng-controller="AppCtrl">
<!--       <ng-include src="'nav.html'" flex></ng-include> 
 -->
  <md-content class="transparent-bg" layout="column" layout-align="start center">
    <header id="intro">
        <h1 id="name"><span>Matthew</span>Tsui</h1>
        <h4 id="subtitle" layout="row" layout-align="space-between center" style=""><span>Developer</span>  <pink>.</pink>  <span>Designer</span>  <pink>.</pink>  <span>Climber</span>  <pink>.</pink>  <span>Gamer</span></h4>
    </header>
    <section id="links">
      <div layout="row" layout-align="center center">
          <md-button class="" aria-label="Resume"  href="/Resume.pdf" target="_blank">
            <i class="fa fa-file-text"></i>
            <md-tooltip>
              Resume
            </md-tooltip>
          </md-button>
          <md-button class="" aria-label="Email" ng-click="sendMail()">
            <i class="fa fa-send" style="left:0;"></i>
            <md-tooltip>
              Email
            </md-tooltip>
          </md-button>
          <md-button class="" aria-label="Linkedin" href="//www.linkedin.com/in/mzqtsui" target="_blank">
            <i class="fa fa-linkedin"></i>
            <md-tooltip>
              Linkedin
            </md-tooltip>
          </md-button>
          <md-button class="" aria-label="Github" href="//github.com/mzqtsui" target="_blank">
            <i class="fa fa-github"></i>
            <md-tooltip>
              Github
            </md-tooltip>
          </md-button>
          <md-button class="" aria-label="Codepen" href="//codepen.io/mzqtsui/" target="_blank">
            <i class="fa fa-codepen"></i>
            <md-tooltip>
              Codepen
            </md-tooltip>
          </md-button>
          <md-button class="" aria-label="Medium" href="//medium.com/@matt.tsui" target="_blank">
            <i class="fa fa-medium"></i>
            <md-tooltip>
              Medium
            </md-tooltip>
          </md-button>
        </div>
    </section>
    <section id="featured">
      <h2>Projects</h2>
      <div flex="80" flex-offset="10" flex-xs="100" flex-offset-xs="0" flex-gt-lg="60" flex-offset-gt-lg="20" class="md-padding" layout="row" layout-align="center center" layout-wrap>
        <md-card class="project" ng-click="viewProject($event, p)" flex-gt-sm="33" flex-sm="49" flex-xs="100" ng-repeat="p in projects">
          <img ng-src="{{::p.img}}" class="md-card-image" alt="Material Red">
          <md-card-content layout="column">
            <div>
              <h3>{{::p.name}} <data style="float:right;font-weight:300;">{{::p.date}}</data></h3>
            </div>
            <div class="desc">{{::p.desc}}</div>
          </md-card-content>
        </md-card>
      </div>
    </section>
    <section id="experience">
      <h2>Work Experience</h2>
      <div flex="60" flex-offset="20" flex-xs="100" flex-offset-xs="0"  class="md-padding" layout="column" layout-align="center center">
        <md-list flex>
           <md-list-item class="md-3-line" ng-repeat="place in workplaces">
            <div class="md-list-item-text" layout="column">
              <h3>{{ place.role }} <data style="float:right;">{{ place.location }}</data></h3>
              <h4><a ng-href="{{ place.url }}" target="_blank">{{ place.name }}</a></h4>
              <p>{{ place.date }}</p>
            </div>
          </md-list-item>         
        </md-list>
      </div>
    </section>

    <section id="education">
      <h2>Education</h2>
      <div flex="60" flex-offset="20" flex-xs="100" flex-offset-xs="0"  class="md-padding" layout="column" layout-align="center center">
        <md-list flex>
           <md-list-item class="md-3-line">
            <div class="md-list-item-text" layout="column">
              <h3>Bachelor of Computer Science<data style="float:right;">Canada</data></h3>
              <h4>Software Engineering Option (Co-op)</h4>
              <p>University of Waterloo, 2011-2016</p>
            </div>
          </md-list-item>  
          <md-list-item class="md-3-line">
            <div class="md-list-item-text" layout="column">
              <h3>Bachelor of Business Administration<data style="float:right;">Canada</data></h3>
              <h4>Marketing Option</h4>
              <p>Laziridis School of Business, 2011-2016</p>
            </div>
          </md-list-item>         
        </md-list>
      </div>
    </section>
    <footer>
      Matthew Tsui &copy; 2016
    </footer>
  </md-content>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TimelineMax.min.js"></script>

  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    var app = angular.module('BlankApp', ['ngMaterial']);


    app.controller('AppCtrl', function($scope,$mdDialog,$mdMedia, $window) {
      
      $scope.projects = [
        {
          name: 'Material Red',
          desc: 'An experiment in SVG',
          img: 'img/material_red.jpg',
          date: '2016',
          dialog: 'projects/material_red_dialog.tmpl.html'
        },
        {
          name: 'Palette Website',
          desc: 'Redesign, Development, Illustration',
          img: 'img/palette.jpg',
          date: '2015',
          dialog: 'projects/palette_site_dialog.tmpl.html'
        },
        {
          name: 'PaletteApp2',
          desc: 'Companion app for Palette hardware',
          img: 'img/paletteapp2.jpg',
          date: '2015'
        },
        {
          name: 'FastCards',
          desc: 'Android flash card app',
          img: 'img/fastcards_logo.jpg',
          date: '2015',
          dialog: 'projects/fastcards_dialog.tmpl.html'
        },
        {
          name: 'Slate',
          desc: 'A 3D Projection-Mapped Unity Game',
          img: 'img/slate.jpg',
          date: '2014'
        },
        {
          name: 'Foodspokes',
          desc: 'Supplier/Restaurant Databse Prototype',
          img: 'img/foodspokes.jpg',
          date: '2014'
        }
      ];

      $scope.workplaces = [
        {
          name: 'Palette',
          role: 'Software Developer',
          date: 'Sep 2015 - Dec 2015',
          location: 'Kitchener, Canada',
          url: '//palettegear.com'
        },
        {
          name: 'Imagine Communications',
          role: 'Application Developer',
          date: 'Jan 2015 - Apr 2015',
          location: 'Waterloo, Canada',
          url: '//www.imaginecommunications.com'
        },
        {
          name: 'Christie Digital Systems',
          role: 'Unity Developer',
          date: 'Jan 2014 - Apr 2014',
          location: 'Kitchener, Canada',
          url: '//www.christiedigital.com'
        },
        {
          name: 'MyPlanet',
          role: 'Fellow',
          date: 'Jan 2014 - Mar 2014',
          location: 'Toronto, Canada',
          url: '//www.myplanet.com'
        },
        {
          name: 'BMO InvestorLine',
          role: 'eBusiness Specialist',
          date: 'Jan 2013 - Apr 2013',
          location: 'Toronto, Canada',
          url: '//www.bmo.com/self-directed'
        },
        {
          name: 'Infoskill Intelligent Solutions Inc.',
          role: 'Wordpress Developer',
          date: 'May 2012 - August 2012',
          location: 'Toronto, Canada',
          url: '//infoskill.com'
        }
      ];


      $scope.sendMail = function(){
        $window.open("znvygb:znggurj.md.gfhv@tznvy.pbz?fhowrpg=Jrofvgr - Pbagnpg".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
      }

      $scope.viewProject = function(ev, p){
        console.log(p);
        var useFullScreen = ($mdMedia('sm') || $mdMedia('xs'))  && $scope.customFullscreen;
        $mdDialog.show({
          controller: DialogController,
          templateUrl: p.dialog,
          parent: angular.element(document.body),
          targetEvent: ev,
          clickOutsideToClose:true,
          fullscreen: useFullScreen
        });
        $scope.$watch(function() {
          return $mdMedia('xs');
        }, function(wantsFullScreen) {
          $scope.customFullscreen = (wantsFullScreen === true);
        });
      }

      

    });
    function DialogController($scope, $mdDialog) {
      $scope.hide = function() {
        $mdDialog.hide();
      };
      $scope.cancel = function() {
        $mdDialog.cancel();
      };
      $scope.answer = function(answer) {
        $mdDialog.hide(answer);
      };
    }
  </script>

  <!--         <span id="obf"><script>document.getElementById("obf").innerHTML="<n pynff=\"cvax\" uers=\"znvygb:znggurj.md.gfhv@tznvy.pbz?fhowrpg=Jrofvgr - Pbagnpg\" gnetrg=\"_oynax\">znggurj.md.gfhv@tznvy.pbz</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});</script>
<noscript><span style="unicode-bidi:bidi-override;direction:rtl;">moc.liamg@iust.qz.wehttam</span></noscript></span> -->
  
</body>
</html>