<!DOCTYPE html>
<html lang="en" >
<head>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">


  <title>Matthew Tsui</title>
</head>
<body ng-app="BlankApp" ng-cloak ng-controller="AppCtrl">
<!--       <ng-include src="'nav.html'" flex></ng-include> 
 -->
  <md-content class="transparent-bg" layout="column" layout-align="start center">
    
    
    <section id="intro">
     
      <div flex="80" flex-offset="10" class="md-padding" layout="column" layout-align="center center">
        <h1 id="name">Matthew Tsui</h1>
          
        <span>
        Currently finishing a Bachelor of Computer Science (Software Engineering) and a Bachelor of Business Administration (Marketing), Matt is looking for employment to start <green>November 2016</green>. Some previous work includes website and cross-platform app work at <a class="blue" href>Palette</a>, Angular webapp development at <a class="blue" href>Imagine Communications</a>, and a 3D projector-mapped Unity game at <a class="blue" href>Christie Digital</a>.
        <br>
        <br>
        <span id="obf"><script>document.getElementById("obf").innerHTML="<n pynff=\"cvax\" uers=\"znvygb:znggurj.md.gfhv@tznvy.pbz?fhowrpg=Jrofvgr - Pbagnpg\" gnetrg=\"_oynax\">znggurj.md.gfhv@tznvy.pbz</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});document.body.appendChild(eo);</script>
<noscript><span style="unicode-bidi:bidi-override;direction:rtl;">moc.liamg@iust.qz.wehttam</span></noscript></span>
        </span>
      </div>

   
     
    </section>
    
  

    

<!--     <div id="intro" layout="row" layout-align="center center" class="md-padding">
      <code class="intro-typed"></code>
       <md-select ng-model="currentProfile" style="width:140px;">
          <md-option ng-repeat="profile in profiles" value="{{profile}}" ng-click="selectProfile(profile.id)">
            <code>{{profile.name}}</code>
          </md-option>
        </md-select>
    </div>

    <ng-include src="'about.html'" flex></ng-include> -->
  </md-content>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  

  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    var app = angular.module('BlankApp', ['ngMaterial']);


    app.controller('AppCtrl', function($scope) {
      $scope.selectedIndex = -1;
      $scope.profiles = [
        {name:'Developer',id:0},
        {name:'Designer',id:1},
        {name:'Rock Climber',id:2},
        {name:'Gamer',id:3}
      ];
      var profileTabs = $('#profile-content');
      $scope.selectProfile = function(id){
        $scope.selectedIndex = id;
      }
    });

    app.config(function($mdThemingProvider) {
      $mdThemingProvider.theme('default')
        .primaryPalette('blue')
        .accentPalette('deep-orange')
    });
  </script>
  
</body>
</html>