.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

md-tabs-wrapper{
    display:none;
}

$c_gray: rgba(39,40,34,1);
$c_pink: rgba(249,38,114,1);
$c_green: rgba(166,226,46,1);
$c_blue: rgba(102,217,239,1);
$c_orange: rgba(253,151,31,1);

section{
    font-size:18px;
    text-align:center;
    background:$c_gray;
    color:lighten($c_gray, 60%);
    
    div{
        min-height:100vh;
    }
}

pink, .pink{
    color: $c_pink;
}

green, .green{
    color: $c_green;
}

blue, .blue{
    color: $c_blue;
}
orange, .orange{
    color: $c_orange;
}
a{
    &:hover{
        font-style:italic;
    }
}





body{
    font-family: "Roboto Slab";
}

#name{
    font-family:Roboto, Helvetica, Arial, sans-serif;
    font-weight:300;
    font-size:46px;
    color: lighten($c_orange,10%);
}
.transparent-bg{
    background:none !important;
    color:white;
}
.nav{
    font-family:"Roboto";
    font-weight:400;
}