<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="You're looking for a Front-End Web Engineer, aren't you. Check out my portfolio here!"/>

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type='text/css' href="css/main.css">

  <script>

    if (document.location.hostname.search("mzqtsui.github.io") !== -1) {

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      //ga('create', 'UA-80121165-1', 'auto');
      //ga('send', 'pageview');
    }
  </script>
  <title>Matthew Tsui - Front-End Web Engineer</title>
</head>
<body>
  <main ng-cloak ng-controller="AppCtrl">
  <md-content class="transparent-bg" layout="column" layout-align="start center">
    <header id="intro">
        <h1 id="name"><span>Matthew</span>Tsui</h1>
        <h4 id="subtitle" layout="row" layout-align="space-between center"><span>Developer</span>  .  <span>Designer</span>  .  <span>Climber</span>  .  <span>Gamer</span></h4>
    </header>
    <contact-links></contact-links>
    <section id="featured">
      <h2>Projects</h2>
      <div flex="90" flex-offset="5" flex-xs="100" flex-offset-xs="0" flex-gt-lg="60" flex-offset-gt-lg="20" class="md-padding" layout="row" layout-align="center center" layout-wrap>
        <md-card class="project" ng-click="viewProject($event, p)" flex-gt-sm="33" flex-sm="49" flex-xs="100" ng-repeat="p in projects">
          <img ng-src="{{::p.img}}" class="md-card-image" alt="Material Red">
          <md-card-content layout="column">
            <div>
              <h3>{{::p.name}} <data class="right">{{::p.date}}</data></h3>
            </div>
            <div class="desc">{{::p.desc}}</div>
          </md-card-content>
        </md-card>
      </div>
    </section>
    <work-experience id="experience"></work-experience>
    <education id="education"></education>
    <footer>
      Matthew Tsui &copy; 2016
    </footer>
  </md-content>
  </main>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-aria.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>

  <!-- Your application bootstrap  -->
  <script src="js/app.min.js"></script>
</body>
</html>